*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --secondary-color: #0084FD;
    --black-color: #333333;
    --light-color: #FFFFFF;
    --primary-color: #9792E4;
    --card-color:#B5DDFF;
    --yellow-contrast: #F3BC6C;

}
body {
    font-family: 'Livvic', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    background-color: var(--light-color);
   
}

html {
    scroll-behavior: smooth;
}
/*******
utilities
********/

.container {
    padding: 15px;
     margin: 0 auto;
     max-width: 600px;
     
    
}
.border-card {
    border-radius: 20px;
    background-color: var(--light-color);
}
.primary-color {
    background-color: var(--primary-color);
}
.btn-violet{
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 5px 30px;
    border-radius: 15px;
    text-decoration: none;
    
}
.txt-center{
    text-align: center;
}
.get-start{
    background-color: var(--light-color);
    color: #333333;
    border-radius: 20px;
    padding: 5px 10px;
    text-decoration: none;   
}
.padding-small {
    padding: 20px 0;
}
h3 {
    font-size: 30px;
    color: var(--secondary-color);
    padding: 10px 0;

    }
    .copyright {
        color: var(--light-color);
    }
/********
header
********/
header {
    background-color: var(--secondary-color);
    color: var(--light-color);
    z-index: 1000;
    top: 0;
    position: fixed;
    width: 100%;
    height: 80px;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ul-nav li{
    list-style: none;
}
header nav ul {
    display: none;
}
header nav a {
    color: var(--light-color);
}
.barra {

        font-size: 30px;      
        cursor: pointer;
           
}

/*****************
header
******************/




/************
 main 
*************/ 
main {
    margin-top: 80px;
}
.card {
    background-color: var(--card-color);
    border-radius: 20px;
    margin-bottom: 20px;

}
.contenuto-card {
    padding: 30px;
}
.card-left {
    padding: 30px;
    
}

.card-left,.card p {
    
    line-height: 2;
}
.btn{
    padding: 20px 20px;
}

.btn a {
   
    background-color: var(--secondary-color);
    padding: 12px 20%;
    border-radius: 30px;
    color: var(--light-color);
    text-decoration: none;
}
.fa-brands, .fa-apple {
    padding-right: 10px;
}
img {
   max-width: 100%;
   
}
.icons-font {
    font-size: 5vw;
    color: var(--secondary-color);
    
}
/************Sezione Planning*********/
.box{
    padding: 20px ;
    background-color: var(--light-color);
    border-radius: 20px;
}

.col {
    text-align: center;
    margin: 20px 10px;
}
    



/************Sezione Planning*********/

/********TESTIMONIAL********/
.committed p {
    padding: 20px;
}

.testimonial {
  width: 100%; 
  height: 100%;
    
}
.testimonial img {
    overflow: hidden;  
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;   
}
.testo {
    color: var(--light-color);
    font-size: 20px;
    text-align: left;
}
.testo span {
    font-size: 25px;
}
#mark {
    font-size: 15px;
}
.partners {
    
    background-color: var(--primary-color);
    border-radius: 20px;
    
    padding: 10px;
    margin-bottom: 20px;
}
/********TESTIMONIAL********/

/*******Benefits********/
.work {
    padding: 20px;
    margin-bottom: 20px;
}
.work p {
    margin: 15px 0;
}
.titolo h2 {
    text-align: center;
    padding: 20px 0;
    color: var(--light-color);
    font-size: 2rem;
}
/***************************/

.testimonial-1 {
    overflow: hidden;  
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
      
  }
  .testimonial-1 img {
      width: 100%;   
      height: 100%;
      object-fit: cover;
  }
  .padding-about {
    padding: 20px 0;
  }

  .column h3 {
    color: var(--primary-color);
  }
  .test p {
    color: var(--primary-color);
    font-size: 25px;
    padding: 20px 0;
  }



/********Benefits********/







/****************/
.started p {
   font-size: 15px;
   color: var(--card-color);
   
}
.started h2{
    color: var(--light-color);
    font-size: 20px;
}
.started h3{
    color: var(--yellow-contrast);
    font-size: 40px;
}
.started a {
    pa
}

/***************/


/************
 main 
*************/ 

/**********************************
footer
***********************************/
footer {
    background-color: var(--black-color);
    color: var(--light-color);
}





/**********************************
footer
***********************************/



/****mediaquery***/
@media screen and (min-width: 768px){
    .container{
        max-width: 750px;
    }
    .flex{
        display: flex;
        flex-flow: row wrap;
        gap:10px;
    }
    #intro .card {
        width: calc((100% / 3) - 10px);
    }
    #intro .card:first-child {
        width: calc((100% / 3) * 2 - 10px);
    }
    #benefits .work {
        width: calc((100% / 2) - 10px);
    }
   #about .column:first-child {
    width: calc(60% - 10px);
   }
   #about .column:last-child {
    width: calc(40% - 10px);
   }
   .col-padding{
    padding: 20px 10px;
   }
    .partners {
       display: flex;
       align-items: center;
       
    }
   

  
}
@media screen and (min-width: 992px){
    .container{
        max-width: 950px;
    }
    
    .barra {
        display: none;
    }

    .ul-nav {
        font-size: 17px;
        display: flex;
       /* justify-content: flex-end;*/   
    }
    .ul-nav a {
        padding: 10px;
        text-decoration: none;
        
    }
    #get{
        background-color: var(--light-color);
        color: #333333;
        border-radius: 20px;
        padding: 5px 10px;
    }
    .ul-nav a:hover {
        box-shadow: 0px 1px 0px 0 var(--card-color);
        
    }
    .di-flex{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 10px;
    }
    .card-left, #intro .card img{
        width: calc(50% - 20px);
    }
    #partners .di-flex{
      
        align-items: center;
    }
    #partners .testimonial {
        width: 200px;
    }
    #partners .testo{
        width: (100% - 210px);
    }
    .col {
        width: calc(50% - 10px);
    }
    
    
} 

@media screen and (min-width: 1200px){
 .container {
    max-width: 1000px;
 }

.di-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
}

 #partners .di-flex{
    align-items: center;
}
 #partners .testimonial {
     width: 200px;
 }
 #partners .testo{
     width: (100% - 210px);
 }

}