*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --secondary-color: #0084FD;
    --black-color: #333333;
    --light-color: #FFFFFF;
    --primary-color: #9792E4;
    --card-color:#B5DDFF;
    --yellow-contrast: #F3BC6C;

}
body {
    font-family: 'Livvic', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}
/*******
utilities
********/

.container {
    padding: 15px;
    max-width: 768px;
    margin: 0 auto;
}
.txt-center{
    text-align: center;
}
/********
header
********/
header {
    background-color: var(--secondary-color);
    color: var(--light-color);
    z-index: 1000;
    top: 0;
    position: fixed;
    width: 100%;
    height: 80px;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
}
header nav ul {
    display: none;
}
header nav a {
    color: var(--light-color);
}
.fa-solid,.fa-bars {
    font-size: 30px;
}
/*****************
header
******************/




/************
 main 
*************/ 
main {
    margin-top: 80px;
}
.card {
    background-color: var(--card-color);
    border-radius: 20px;

}
.card-left {
    padding: 30px;
    
}
.card-left h3 {
    font-size: 30px;
    color: var(--secondary-color);
}
.card-left p {
    padding: 20px 0;
    line-height: 1.8;
}

.btn a {
    background-color: var(--secondary-color);
    padding: 10px 50px;
    border-radius: 30px;
    color: var(--light-color);
    text-decoration: none;
}
.fa-brands, .fa-apple {
    padding-right: 10px;
}
.card img {
   max-width: 100%;
}
/************
 main 
*************/ 

/**********************************
footer
***********************************/







/**********************************
footer
***********************************/
